/node_modules
/public
/scripts
/build

node_modules
public
scripts
build

/node_modules/*
/public/*
/scripts/*
/build/*

@levellearning/core-sdk/src/graphql/generated/graphql.ts

# These rules as well as what's in .eslintignore do not appear to be respected when running `npm run lint`
